# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db

# Environment files
.env
.env.local


# Build and distribution
dist/
build/
*.egg-info/

# models
models/

# Test files
*.pytest_cache/
.coverage
htmlcov/

# Local development files
*.swp
*.swo
.DS_Store

# Documentation files
/docs/
